{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}


<h2>{{message}}:</h2>
    {% for listing in all_listings %}
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container px-lg-5">
    <div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5 border bg-light">
    Created {{listing.date}}
    <h5 >Item no: {{listing.id}}</h5>
    <img  src="{{MEDIA_URL}}{{listing.image}}" style="height:300px;width:300px; padding:auto;" >
    </div>
    <div class="col py-3 px-lg-5 border bg-light">
    <a href="{% url 'item' listing.id %}"><h2 style="text-align:center; text-decoration: underline;">{{listing.title}}</h2><a/>
    <br>
    <h4 style="text-align:center">Starting Bid:<strong> ${{listing.starting_bid}}</strong></h4>

   <h4 style="text-align:center">Category:<strong> {{listing.Categories}}</strong></h4>

    <h4  style="text-align:center">Description:<strong>{{listing.description}}</strong></h4>

    {% if listing.close_bid %}
    <h4  style="text-align:center">Status: <p style="color:red">Closed </p></h4>
    {% else %}
    <h4  style="text-align:center">Status: <p style="color:green">Active </p></h4>
    {% endif %}
    </div>
    </div>
  </div>
  </div>
    

    {% endfor %}

{% endblock %}
